/* header section styles */

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    
    
}
.menu-item ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    font-size: 18px;
    
}

/* main section styles */

.main-section{
    
    display: flex;
    margin: 5%;
    width: 80%;
    padding-bottom: 70px;
}
.main-content{
    margin-right: 10px;
}
.main-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-content p{
    font-size: 16px;
    
}
.main-image img{
    width: 440px;
    height: 414px;
   background-image: url(images/Circle\ design.svg);
  
}
.main-image img:hover{
    transform: rotateX(180deg) ;
    transition: 1s ;
}
button{
    padding: 10px 24px;
    background-color:#E02C6D;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    
}
.fas .fa-arrow-right{
    margin-left: 5px;
}


/* product images styles */
.blogs{
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background: #AAAAAA;;
   
}
.blog-item{
    margin: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
   
}
.item-image{
    width: 300px;
    height: 256px;
}
.item-title h3{
    font-family: 'Poppins';
    font-size: 28px;
    margin-bottom: 10px;
}
.item-price h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
}
.fa-star.filled{
    font-size: 16px;
    color: #FB8200;
    
}
span{
    color: #787885;
    font-weight: 700;
}
.fa-star.empty{
    color: gray;
}
.item-rate p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}