*{
    margin: 0;
    padding: 0;
}
/*--------------------
 header section styles 
 ------------------------*/

.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    
    
}
.menu-item ul li {
    list-style: none;
    display: inline;
    margin-right: 30px;
    font-size: 18px;
    
}

/*---------------------
 main section styles
 ----------------------- */

.main-section{
    
    display: flex;
    margin: 5%;
    width: 80%;
    padding-bottom: 70px;
    justify-content: center;
}
.main-content{
    margin-right: 10px;
}
.main-content h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}
.main-content p{
    font-size: 16px;
    margin-right: 50px;
    
}
.main-image img{
    width: 440px;
    height: 414px;
   background-image: url(images/Circle\ design.svg);
  
}
.main-image img:hover{
    transform: rotateX(180deg) ;
    transition: 1s ;
}
button{
    margin-top: 10px;
    padding: 10px 24px;
    background-color:#E02C6D;
    color: white;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 700;
    
}
.fas .fa-arrow-right{
    margin-left: 5px;
}

/*-----------------
 logos Styles
 ---------------- */
.logos{
    margin-left: 5%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}


/*----------------------
 product images styles
 ----------------------- */
.blogs{
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    background: #AAAAAA;;
    margin-bottom: 10px;
   
}

.blog-title{
    text-align: center;
    font-family: 'Poppins';
    margin-top: 20px;
    font-size: 28px;
    
    
}
.blog-item{
   
    margin: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
   
}
.item-image{
    width: 300px;
    height: 256px;
}
.item-title h3{
    font-family: 'Poppins';
    font-size: 28px;
    margin-bottom: 10px;
}
.item-price h4{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    font-weight: 400;
}
.fa-star.filled{
    font-size: 14px;
    color: #FB8200;
    
}
span{
    color: #787885;
    font-weight: 700;
}
.fa-star.empty{
    color: gray;
}
.item-rate p{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}
.see-more {
    margin-right: 5%;
    display: block;
    text-align: right;
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Poppins';
    margin-bottom: 50px;
    
}
/*---------------- 
My content styles
------------------ */

.content-item{
    display: flex;
    margin: 5%;
   
}
.bloger-image img{
   margin-right: 30px;
    height: 400px;
    width: 600px;
    border-radius: 10px;
}
.right-content{
    padding-top: 50px;
    
}


.right-content h2{
    padding-top: 10px;
    font-size: 40px;
    padding-bottom: 10px;
}
.right-content P{
    padding-bottom: 20px;
}


/*-----------------
 footer sections styles
 ---------------------- */

.footer-section{
    background-color: #0A0826;
    text-align: center;
    padding: 40px;
    color: white;

}
.footer-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
    
}
.footer-status{
    font-size: 14px;
    font-weight: 700;
    font-family: 'Manrope', sans-serif;
}
.social-icons{
    font-size: 20px;
    margin-top: 10px;
    justify-content: center;
    
    
}
.social-icons .fab{
    margin-right: 10px ;
   background-color: rgb(27, 37, 80);
    
    padding: 10px;
    border-radius: 30px 30px;
}
/*----------------------------
 Mobile Device Responsive
 ---------------------------*/

@media only screen and (max-width: 500px){
    .header-menu{
        display: block;
    }
    .header-title{
        text-align: center;
    }
    .menu-item{
        display: none;
    }
    .main-section{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        
    }
    .main-content{
        width: 100%;
        
        
    }
    .main-content h1{
        font-size: 30px;
    }
    .main-image img{
        height: 257px;
        width: 257px;
        background-position: center;
    }
    button{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .logos{
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        width: 100%;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        justify-content: center;
        
    }
    .content-item{
        flex-direction: column;
        width: 100%;
        text-align: center;
        
    }
    .content-item img{
        height: 190px;
        width: 300px;
       
    }
    .right-content{
        text-align: center;
    }

   
}

/* Tablet Device */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  
    .header-title{
        text-align: center;
    }
 
  .blogs{
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
  }

}
